:root {
/* Font variiables */
    --font-exo-two: 'Exo 2', sans-serif;
    --font-orbitron: 'Orbitron', sans-serif;

/* Color Variables */
    --col-first: #1d1716;
    --col-first-tranc: #1d171628;
    --col-second:#402a23;
    --col-third: #a55233;
    --col-fourth: #f3bc77;
}

.border-shadow {
    border: 2px solid var(--col-second);
    box-shadow: 0px 0px 3px var(--col-fourth);
}

.rounded {
    border-radius: 2rem;
}

body {
    background: url(./images/background.jpeg);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: var(--font-exo-two);
    color: var(--col-fourth);
}

#header {
    width: 100%;
    height: max(15vh, 70px);
    position: absolute;
    background-color: var(--col-first);
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

h1 {
    margin-left: 3rem;
    font-size: 3rem;
}

p {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-button {
    margin-right: 3rem;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    padding: 1rem 2rem;
    font-weight: 800;
}

#add-button svg {
    stroke-width: 3px;
}